@import 'base/_variables.scss';
@import 'base/_fonts.scss';
@import 'base/_mixins.scss';
@import '../node_modules/bootstrap/dist/css/bootstrap.css';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open Sans;
}

body {
    position: relative;
    background: $white;
    width: 100vw;
    height: 100vh;

    @include device('sm') {
        background: $black-gradient;
    }
}

button {
    cursor: pointer;
}

.container {
    max-width: 1380px;

    @include device('xxl') {
        margin: 0;
    }
}

.bg-black-gradient {
    background: $black-gradient;
}

.gray-square {
    width: 50vw;
    height: 50vh;
    background-color: $gray-700;

    @include device('sm') {
        display: none;
    }
}

.hat {
    font-size: 12px;
    transition: .2s all;
}

.feed-1 {
    font-size: 28px;
    line-height: 30px;
}

.retangle-black-gradient {
    width: 90vw;
    max-height: 765px;
    padding: 0 108px 37px;
    border-radius: 8px 0px 0px 8px;
    position: absolute;
    right: 0;
    transform: translateY(-50%);

    .row:first-child {
        margin-top: -15px;
    }

    @include device('lg') {
        padding: 0 60px 37px;
    }

    @include device('md') {
        width: 100vw;
        padding: 0 30px 37px;
    }

    @include device('sm') {
        position: relative;
        transform: unset;
        max-height: unset;
        padding: 0 24px;

        .row:first-child {
            margin-top: 24px;
        }
    }
}

.title-mobile {
    display: none;
    background-color: $gray-900;
    width: 100%;
    padding: 15px;

    p {
        color: $white;
        margin-bottom: 0;
        width: 100%;
        padding: 9px 0;
        background-color: $gray-800;
        border-radius: 10px;
    }

    @include device('sm') {
        display: block;
    }
}

.nav {
    background-color: $gray-800;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 32px;
    gap: 15px;

    .section {
        width: fit-content;
        font-size: 28px;
        font-weight: 700;
        color: $red-300;

        @include device('sm') {
            padding: 0;
        }
    }

    .gap-16 {
        gap: 16px;
        width: fit-content;

        @include device('sm') {
            padding: 0;
        }
    }

    .more, .btn-up, .btn-down {
        position: relative;
        width: inherit;
        color: $gray-700;
        border: 2px solid $gray-700;
        background-color: transparent;
        font-size: 14px;
        border-radius: 4px;
        padding: 16px;

        transition: 0.3s all;

        .arrow {
            border: solid $gray-700;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 3px;
            transition: 0.3s all;
        }

        .right {
            transform: rotate(-45deg);
            margin-left: 10px;
        }

        .up {
            transform: rotate(-135deg);
            margin-bottom: -2px;

            @include device('lg') {
                transform: rotate(135deg);
                margin-bottom: 0px;
                margin-left: 2px;
            }
        }

        .down {
            transform: rotate(45deg);
            margin-bottom: 2px;

            @include device('lg') {
                transform: rotate(-45deg);
                margin-bottom: 0px;
                margin-left: -2px;
            }
        }

        &:hover {
            color: $red-300;
            background-color: $gray-900;
            border: 2px solid $gray-900;

            .arrow {
                border-color: $red-300;
            }
        }
    }

    @include device('sm') {
        .more {
            display: none;
        }
    }

    .btn-up, .btn-down {
        padding: 16px 22px;
        border: 2px solid transparent;
        background-color: $gray-900;

        @include device('sm') {
            padding: 10px 18px;
        }

        .arrow {
            padding: 4px;
        }

        &:hover {
            background-color: $black;
            border: 2px solid transparent;

            .up, .down {
                padding: 4px;
            }

            .arrow {
                border-color: $white;
            }
        }
    }

    button {
        box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    }
}

.hat, .feed-1 {
    color: $white;
}

.video-container {
    max-height: 642px;
    position: relative;

    border: 2px solid;
    border-color: $gray-800;
    border-radius: 8px;
    padding: 42px 50px;
    cursor: pointer;

    transition: 0.2s all;

    .video-texts-container {
        position: absolute;
        bottom: 50px;
        left: 42px;

        p {
            margin: 0;
        }

        .play-button {
            margin-bottom: 16px;
            svg {
                width: 61px;
                path {
                    transition: 0.2s all;
                }
            }
        }
    }
    
    .play-button-mobile {
        display: none;
    }

    &:hover {
        border: 2px solid $red-300;

        .play-button {
            svg {
                path {
                    fill: $red-300;
                }
            }
        }

        .hat {
            color: $red-300;
        }
    }

    @include device('lg') {
        width: 100%;
        margin-bottom: 24px;
    }

    @include device('sm') {
        position: relative;
        height: 304px;
        padding: 0;

        .play-button-mobile {
            display: block;
            svg {width: 31px;}
            position: absolute;
            top: 15px;
            left: 15px;
        }

        .video-texts-container {
            width: 100%;
            top: unset;
            bottom: 0;
            left: unset;
            padding: 16px;
            background-color: $gray-800;
            border-radius: 0 0 8px 8px;


            .play-button-desktop {
                display: none;
            }

            .hat {
                font-size: 12px;
            }

            .feed-1 {
                font-size: 16px;
                line-height: 22px;
            }
        }
    }

}

.loading-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: $gray-800;

    .loading {
        position: relative;
        width: 100%;
        height: 100%;
    
        div {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 64px;
            height: 64px;
            border: 8px solid #fff;
            border-radius: 50%;
            animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            border-color: $red-300 transparent transparent transparent;

            @include device('sm') {
                top: 45%;
                left: 45%;
            }
    
            &:nth-child(1) {
                animation-delay: -0.45s;
            }
    
            &:nth-child(2) {
                animation-delay: -0.3s;
            }
    
            &:nth-child(3) {
                animation-delay: -0.15s;
            }
        }
    }
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.swiper-container {
    padding-right: 0;

    @include device('lg') {
        width: 100%;
        padding-left: 0;
    }

    .posts-swiper {
        overflow: hidden;
        max-height: 642px;
        height: 100%;
    
        .swiper-wrapper {
            max-height: 559px;
            height: 100%;

            @include device('md') {
                height: 304px;
            }
    
            .swiper-slide {
                height: auto;
                padding: 0;

                @include device('lg') {
                    height: 304px;
                }
        
                .play-button {
                    position: absolute;
                    top: 15px;
                    left: 15px;
                }
        
                .video-texts-container {
                    width: 100%;
                    top: unset;
                    bottom: 0;
                    left: unset;
                    padding: 16px;
                    background-color: $gray-800;
                    border-radius: 0 0 5px 5px;
        
                    .hat {
                        font-size: 12px;
                    }
        
                    .feed-1 {
                        font-size: 16px;
                        line-height: 22px;
                    }
                }
            }
        }
    }
}


button:disabled {
    background-color: $gray-800 !important;

    &:hover {
        .arrow {
            padding: 4px;
        }
        .arrow {
            border-color: #707070 !important;
        }
    }
}