@mixin device($device) {
	@if $device == 'xxl' {
		@media screen and (max-width: 1920px) {
			@content;
		}
	} @else if $device == 'xl' {
		@media screen and (max-width: 1200px) {
			@content;
		}
	} @else if $device == 'lg' {
		@media screen and (max-width: 992px) {
			@content;
		}
	} @else if $device == 'md' {
		@media screen and (max-width: 768px) {
			@content;
		}
	} @else if $device == 'sm' {
		@media screen and (max-width: 375px) {
			@content;
		} 
	}
}