@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import '../node_modules/bootstrap/dist/css/bootstrap.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans;
}

body {
  position: relative;
  background: #fff;
  width: 100vw;
  height: 100vh;
}
@media screen and (max-width: 375px) {
  body {
    background: linear-gradient(93.03deg, #222222 0.41%, #2E2E2E 98.74%);
  }
}

button {
  cursor: pointer;
}

.container {
  max-width: 1380px;
}
@media screen and (max-width: 1920px) {
  .container {
    margin: 0;
  }
}

.bg-black-gradient {
  background: linear-gradient(93.03deg, #222222 0.41%, #2E2E2E 98.74%);
}

.gray-square {
  width: 50vw;
  height: 50vh;
  background-color: #707070;
}
@media screen and (max-width: 375px) {
  .gray-square {
    display: none;
  }
}

.hat {
  font-size: 12px;
  transition: 0.2s all;
}

.feed-1 {
  font-size: 28px;
  line-height: 30px;
}

.retangle-black-gradient {
  width: 90vw;
  max-height: 765px;
  padding: 0 108px 37px;
  border-radius: 8px 0px 0px 8px;
  position: absolute;
  right: 0;
  transform: translateY(-50%);
}
.retangle-black-gradient .row:first-child {
  margin-top: -15px;
}
@media screen and (max-width: 992px) {
  .retangle-black-gradient {
    padding: 0 60px 37px;
  }
}
@media screen and (max-width: 768px) {
  .retangle-black-gradient {
    width: 100vw;
    padding: 0 30px 37px;
  }
}
@media screen and (max-width: 375px) {
  .retangle-black-gradient {
    position: relative;
    transform: unset;
    max-height: unset;
    padding: 0 24px;
  }
  .retangle-black-gradient .row:first-child {
    margin-top: 24px;
  }
}

.title-mobile {
  display: none;
  background-color: #222222;
  width: 100%;
  padding: 15px;
}
.title-mobile p {
  color: #fff;
  margin-bottom: 0;
  width: 100%;
  padding: 9px 0;
  background-color: #333333;
  border-radius: 10px;
}
@media screen and (max-width: 375px) {
  .title-mobile {
    display: block;
  }
}

.nav {
  background-color: #333333;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 32px;
  gap: 15px;
}
.nav .section {
  width: fit-content;
  font-size: 28px;
  font-weight: 700;
  color: #ED686B;
}
@media screen and (max-width: 375px) {
  .nav .section {
    padding: 0;
  }
}
.nav .gap-16 {
  gap: 16px;
  width: fit-content;
}
@media screen and (max-width: 375px) {
  .nav .gap-16 {
    padding: 0;
  }
}
.nav .more, .nav .btn-up, .nav .btn-down {
  position: relative;
  width: inherit;
  color: #707070;
  border: 2px solid #707070;
  background-color: transparent;
  font-size: 14px;
  border-radius: 4px;
  padding: 16px;
  transition: 0.3s all;
}
.nav .more .arrow, .nav .btn-up .arrow, .nav .btn-down .arrow {
  border: solid #707070;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transition: 0.3s all;
}
.nav .more .right, .nav .btn-up .right, .nav .btn-down .right {
  transform: rotate(-45deg);
  margin-left: 10px;
}
.nav .more .up, .nav .btn-up .up, .nav .btn-down .up {
  transform: rotate(-135deg);
  margin-bottom: -2px;
}
@media screen and (max-width: 992px) {
  .nav .more .up, .nav .btn-up .up, .nav .btn-down .up {
    transform: rotate(135deg);
    margin-bottom: 0px;
    margin-left: 2px;
  }
}
.nav .more .down, .nav .btn-up .down, .nav .btn-down .down {
  transform: rotate(45deg);
  margin-bottom: 2px;
}
@media screen and (max-width: 992px) {
  .nav .more .down, .nav .btn-up .down, .nav .btn-down .down {
    transform: rotate(-45deg);
    margin-bottom: 0px;
    margin-left: -2px;
  }
}
.nav .more:hover, .nav .btn-up:hover, .nav .btn-down:hover {
  color: #ED686B;
  background-color: #222222;
  border: 2px solid #222222;
}
.nav .more:hover .arrow, .nav .btn-up:hover .arrow, .nav .btn-down:hover .arrow {
  border-color: #ED686B;
}
@media screen and (max-width: 375px) {
  .nav .more {
    display: none;
  }
}
.nav .btn-up, .nav .btn-down {
  padding: 16px 22px;
  border: 2px solid transparent;
  background-color: #222222;
}
@media screen and (max-width: 375px) {
  .nav .btn-up, .nav .btn-down {
    padding: 10px 18px;
  }
}
.nav .btn-up .arrow, .nav .btn-down .arrow {
  padding: 4px;
}
.nav .btn-up:hover, .nav .btn-down:hover {
  background-color: #000;
  border: 2px solid transparent;
}
.nav .btn-up:hover .up, .nav .btn-up:hover .down, .nav .btn-down:hover .up, .nav .btn-down:hover .down {
  padding: 4px;
}
.nav .btn-up:hover .arrow, .nav .btn-down:hover .arrow {
  border-color: #fff;
}
.nav button {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.hat, .feed-1 {
  color: #fff;
}

.video-container {
  max-height: 642px;
  position: relative;
  border: 2px solid;
  border-color: #333333;
  border-radius: 8px;
  padding: 42px 50px;
  cursor: pointer;
  transition: 0.2s all;
}
.video-container .video-texts-container {
  position: absolute;
  bottom: 50px;
  left: 42px;
}
.video-container .video-texts-container p {
  margin: 0;
}
.video-container .video-texts-container .play-button {
  margin-bottom: 16px;
}
.video-container .video-texts-container .play-button svg {
  width: 61px;
}
.video-container .video-texts-container .play-button svg path {
  transition: 0.2s all;
}
.video-container .play-button-mobile {
  display: none;
}
.video-container:hover {
  border: 2px solid #ED686B;
}
.video-container:hover .play-button svg path {
  fill: #ED686B;
}
.video-container:hover .hat {
  color: #ED686B;
}
@media screen and (max-width: 992px) {
  .video-container {
    width: 100%;
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 375px) {
  .video-container {
    position: relative;
    height: 304px;
    padding: 0;
  }
  .video-container .play-button-mobile {
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
  }
  .video-container .play-button-mobile svg {
    width: 31px;
  }
  .video-container .video-texts-container {
    width: 100%;
    top: unset;
    bottom: 0;
    left: unset;
    padding: 16px;
    background-color: #333333;
    border-radius: 0 0 8px 8px;
  }
  .video-container .video-texts-container .play-button-desktop {
    display: none;
  }
  .video-container .video-texts-container .hat {
    font-size: 12px;
  }
  .video-container .video-texts-container .feed-1 {
    font-size: 16px;
    line-height: 22px;
  }
}

.loading-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: #333333;
}
.loading-container .loading {
  position: relative;
  width: 100%;
  height: 100%;
}
.loading-container .loading div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ED686B transparent transparent transparent;
}
@media screen and (max-width: 375px) {
  .loading-container .loading div {
    top: 45%;
    left: 45%;
  }
}
.loading-container .loading div:nth-child(1) {
  animation-delay: -0.45s;
}
.loading-container .loading div:nth-child(2) {
  animation-delay: -0.3s;
}
.loading-container .loading div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.swiper-container {
  padding-right: 0;
}
@media screen and (max-width: 992px) {
  .swiper-container {
    width: 100%;
    padding-left: 0;
  }
}
.swiper-container .posts-swiper {
  overflow: hidden;
  max-height: 642px;
  height: 100%;
}
.swiper-container .posts-swiper .swiper-wrapper {
  max-height: 559px;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .swiper-container .posts-swiper .swiper-wrapper {
    height: 304px;
  }
}
.swiper-container .posts-swiper .swiper-wrapper .swiper-slide {
  height: auto;
  padding: 0;
}
@media screen and (max-width: 992px) {
  .swiper-container .posts-swiper .swiper-wrapper .swiper-slide {
    height: 304px;
  }
}
.swiper-container .posts-swiper .swiper-wrapper .swiper-slide .play-button {
  position: absolute;
  top: 15px;
  left: 15px;
}
.swiper-container .posts-swiper .swiper-wrapper .swiper-slide .video-texts-container {
  width: 100%;
  top: unset;
  bottom: 0;
  left: unset;
  padding: 16px;
  background-color: #333333;
  border-radius: 0 0 5px 5px;
}
.swiper-container .posts-swiper .swiper-wrapper .swiper-slide .video-texts-container .hat {
  font-size: 12px;
}
.swiper-container .posts-swiper .swiper-wrapper .swiper-slide .video-texts-container .feed-1 {
  font-size: 16px;
  line-height: 22px;
}

button:disabled {
  background-color: #333333 !important;
}
button:disabled:hover .arrow {
  padding: 4px;
}
button:disabled:hover .arrow {
  border-color: #707070 !important;
}

/*# sourceMappingURL=main.css.map */
